button {
  background-color: palevioletred;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
html,
body,
main {
  height: 100%;
}
body {
  font-family: "Roboto";
}
